[submodule "modules/MMM-Carousel"]
	path = modules/MMM-Carousel
	url = https://github.com/shbatm/MMM-Carousel.git
[submodule "modules/modules/MMM-Carousel"]
	path = modules/modules/MMM-Carousel
	url = https://github.com/shbatm/MMM-Carousel
[submodule "MMM-GoogleCalendar"]
	path = MMM-GoogleCalendar
	url = https://github.com/randomBrainstormer/MMM-GoogleCalendar.git
[submodule "modules/MMM-GoogleCalendar"]
	path = modules/MMM-GoogleCalendar
	url = https://github.com/randomBrainstormer/MMM-GoogleCalendar
[submodule "modules/MMM-KeyBindings"]
	path = modules/MMM-KeyBindings
	url = https://github.com/shbatm/MMM-KeyBindings.git
